
/* Here we have scrolling whatsapp thing*/
    .scrolling-text {
      position: fixed;
      top: 90%;
      left: 95%;
      transform: translate(-50%, -50%);

      padding: 10px 20px;
      border-radius: 10px;
      opacity: 0.8;
      z-index: 9999;
    }

    .social-icon-linc {
      background: #50C878;
      border-radius: var(--border-radius-large);
      color: var(--white-color);
      font-size: var(--copyright-font-size);
      display: block;
      margin-right: 10px;
      text-align: center;
      width: 35px;
      height: 35px;
      line-height: 36px;
      transition: background 0.2s, color 0.2s;
    }

    .social-icon-linc:hover {
      background: green;
      color: var(--white-color);
    }
    .social-icon-linc span {
      display: block;
    }

    .social-icon-linc span:hover::before{
      animation: spinAround 2s linear infinite;
    }

/*---------------------------------------------------*/




.newimage0{

  min-height: 100vh;/*the height of the background is 75% of screen*/
  width:100%;/*width is 100% of the screen*/
  background-image:linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url(Captures14.png);/*toning down image and source*/
  background-position: center;/*image in center*/
  background-size: cover;/*image fits and covers all available space*/
  position: relative;/*more ajusting*/
/*the next two lines make the image not move with the page*/
  background-repeat: no-repeat;
  background-attachment: fixed;

}
.newimage1{

  min-height: 100vh;/*the height of the background is 75% of screen*/
  width:100%;/*width is 100% of the screen*/
  background-image:linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url(Captures15.png);/*toning down image and source*/
  background-position: center;/*image in center*/
  background-size: cover;/*image fits and covers all available space*/
  position: relative;/*more ajusting*/
/*the next two lines make the image not move with the page*/
  background-repeat: no-repeat;
  background-attachment: fixed;

}
.newimage5{

  min-height: 80vh;/*the height of the background is 75% of screen*/
  width:100%;/*width is 100% of the screen*/
  background-image:linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url(Captures4.png);/*toning down image and source*/
  background-position: center;/*image in center*/
  background-size: cover;/*image fits and covers all available space*/
  position: relative;/*more ajusting*/
/*the next two lines make the image not move with the page*/
  background-repeat: no-repeat;
  background-attachment: fixed;

}



/**/
.pdf{
  width: 80%;/*changes size of text*/
  margin: auto;
  text-align: center;/*puts all text in center*/
  padding-top: 100px;/*space from top*/
}
.row{/*this is all 3 pictures not just 1 if we write in pdfcol */
  margin-left: 5%;/*spacing from left*/
  margin-right: 5%;/*spacing form right*/


}

.pdfcol{
  flex-basis: 32%;/*aligns them*/
  border-radius: 10px;/*borders will be rounded*/
  margin-bottom: 100px;/*space form bottom*/
  position: relative;/*position fixer*/
  overflow: hidden;/*everything that goes out of the borders dont show*/


}
.pdfcol img{
  width: 100%;/*changes size*/
  display: block;
}
.layer{
  background: transparent;/*removes color made in the next entity layer:hover*/
  height: 100%;/*height of fade coloring placement and text*/
  width: 100%;/*height of fade coloring and text*/
  position: absolute;/*somehow puts it in the image*/
  top: 0;
  left: 0;
  transition: 0.5s;
}
.layer:hover{/*this is the outcome of the animation*/
  background: rgba(226,0,0,0.7);/*creates fade coloring that will appear when we hover*/

}
.layer h3{/*changing all h3 attributes in layer */
  color: white;/*change h3 color*/
  width: 100%;/*change h3 position*/
  font-weight: 500;/*changes h3 appearence font*/
  font-size: 26px;/*changes size of writing*/
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);/*makes its initial position at the bottom*/
  position: absolute;/*fixes position*/
  transition: 0.5s;/*transition time*/
  opacity: 0;/*removes text when not hovering */
}
.layer:hover h3{/*what we want to happen to h3 when hovering*/
  /*color: black;/*changes text color from white to black*/
  bottom: 40%;/*make it go up 40%*/
  opacity: 1;/*It shows text after hover*/
}
.baaaa{
  color: white;
  text-align: center;
  margin-bottom: 10vh;
}

.about-text-wrap{
  margin-top: 10vh}




font-family: 'Orbitron', sans-serif;
p{
  font-family: 'Saira Condensed', sans-serif;
}
#p{
    font-family: 'Saira Condensed', sans-serif;
}
#subbedtitle{
font-family: 'Jost', sans-serif;
}
#navberlinger{
font-family: 'Jost', sans-serif;

}
#navberlinger2{
font-family: 'Jost', sans-serif;
color: yellow;

}
#headberlinger{
font-family: 'Jost', sans-serif;
}
#titletext{
font-family: 'Jost', sans-serif;
}
#letsgo{
font-family: 'Jost', sans-serif;
}
#titles{
font-family: 'Jost', sans-serif;
}
